@model Cadastro;
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Cadastro" asp-controller="Home" method="post" >
  <div class="form-group">
    <label for="exampleInputEmail1">Nome:</label>
    <input type="text" class="form-control" name="Nome" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Sobrenome:</label>
    <input type="text" class="form-control" name="Sobrenome" id="exampleInputPassword1" placeholder="Digite seu Sobrenome">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
