<body>
<form action="/" method="post">
    <fieldset>
        <input type="text" name="nome" placeholder="nome">
        <input type="text" name="idade" placeholder="idade">
        <input type="submit" placeholder="enviar">
    </fieldset>
</form>
</body>                                                                                  