<body>
    <h1>Faça seu cadastro</h1>
    <nav>
        <ul>
            <li><a href="/cadastro">cadastro</a></li>
        </ul>
    </nav>

    {{#each teste}}
        <div>
            <fieldset>
                {{nome}}
                {{idade}}
            </fieldset>
        </div>
    {{/each}}

    <form action=""></form>
</body>