<head><link rel="stylesheet" href="css/inicio.css"></head>
<body>
    <h1>Cadastro</h1>
    <div class="formulario/">
        <form action="/" method="post">
            <fieldset>
                <table>
                    <tr>
                        <td><input type="text" name="nome" placeholder="Nome"></td>
                    </tr>
                    <tr>
                        <td><input type="tel" name="telefone" placeholder="Telefone"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="horario" placeholder="Horario"></td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" placeholder="enviar"></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <div>
        <fieldset>
            {{#each cadastro}}
            <p>Nome: {{nome}}</p>
            <p>Telefone: {{telefone}}</p>
            <p>Horario: {{horario}}</p>
            <p>Email: {{email}}</p>
            {{/each}}
        </fieldset>
    </div>
</body>