<head>
    <link rel="stylesheet" href="/CSS/inicio.css">
</head>
<body>
    <h1>cadastro</h1>
    <div class="form">
        <form action="/" method="post">
            <fieldset class="op2">
                <table>
                    <tr>
                        <td><input type="text" name="nome" placeholder="Nome"></td>
                    </tr>
                    <tr>
                        <td><input type="tel" name="telefone" placeholder="Telefone"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="horario" placeholder="Horario"></td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" placeholder="enviar"></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <div class="teste">
        {{#each cadastro}}
        <div class="op">
            <fieldset class="field">
                <p>Nome: {{nome}}</p>
                <p>Telefone: {{telefone}}</p>
                <p>Horario: {{horario}}</p>
                <p>Email: {{email}}</p>
            </fieldset>
        </div>
        {{/each}}
    </div>
</body>