<head>
    <link rel="stylesheet" href="/CSS/inicio.css">
</head>
<body>
    <h1>Horarios</h1>
    <div class="teste">
        <fieldset class="op2">
            <table>
                <tr>
                    <td>Segunda</td>
                    <td>Terça</td>
                    <td>Quarta</td>
                    <td>Quinta</td>
                    <td>Sexta</td>
                    <td>Sabado</td>
                    <td>Domingo</td>
                </tr>
                <tr>
                    <td>05:00</td>
                    <td>05:00</td>
                    <td>05:00</td>
                    <td>05:00</td>
                    <td>05:00</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>07:00</td>
                    <td>07:00</td>
                    <td>07:00</td>
                    <td>07:00</td>
                    <td>07:00</td>
                    <td>07:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>09:00</td>
                    <td>09:00</td>
                    <td>09:00</td>
                    <td>09:00</td>
                    <td>09:00</td>
                    <td>09:00</td>
                    <td>09:00</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>13:00</td>
                    <td>13:00</td>
                    <td>13:00</td>
                    <td>13:00</td>
                    <td>13:00</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>15:00</td>
                    <td>15:00</td>
                    <td>15:00</td>
                    <td>15:00</td>
                    <td>15:00</td>
                    <td>15:00</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>17:00</td>
                    <td>17:00</td>
                    <td>17:00</td>
                    <td>17:00</td>
                    <td>17:00</td>
                    <td>17:00</td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>19:00</td>
                    <td>19:00</td>
                    <td>19:00</td>
                    <td>19:00</td>
                    <td>19:00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21:00</td>
                    <td>21:00</td>
                    <td>21:00</td>
                    <td>21:00</td>
                    <td>21:00</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>