<head>
    <link rel="stylesheet" href="/CSS/inicio.css">
</head>
<body>
    <h1>Camaçari's Fitness</h1>
    <div class="teste">
        <div class="camaçari_fitness">
            <div class="photo">
                <img src="/IMG/ccc.jpg" alt="">
            <div class="lorem">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
            </div>
        </div>
            <div class="lorem2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
            </div>
            <div class="lorem">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>