<head>
    <link rel="stylesheet" href="/CSS/sobrenos.css">
</head>
<body>
    <h1>Quem somos</h1>
    <div class="teste">
        <div class="photo">
        <div>
            <div>
                <img src="/IMG/vvv-4.jpg" alt="">
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
            </div>
        </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
            </div>
        </div>
    </div>
    <div class="teste">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos incidunt quasi cumque itaque nobis fugit, voluptate ullam eaque veritatis explicabo deserunt enim unde provident animi nihil perferendis quaerat officiis!</p>
        </div>
        <div>
            <img src="/IMG/ccc.jpg" alt="">
        </div>
    </div>
</body>