body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: center;
}
tr{
    display: flex;
    flex-direction: column;
}
form{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}