<head>
    <link rel="stylesheet" href="/CSS/Style.css">
    <script src="/JS/action.js"></script>
</head>
<body>
    <form action="http://localhost:3020" method="post" onsubmit="return cadastro()">
        <fieldset>
            <p id="log">Cadastro</p>
            <div>
                <input type="text" id="user" name="usuario" placeholder="Usuario">
                <input type="password" id="pass" name="senha" placeholder="Senha">
                <input type="submit" value="Cadastrar">
                <input type="button" onclick="window.location.href = 'http://localhost:3020'" value="Voltar">
            </div>
            <p id="erro"></p>
            <p>alaa</p>
            {{#each cadastros}}
                <p>{{nome}}</p>
                <p>{{senha}}</p>
            {{/each}}
        </fieldset>
    </form>
</body>