<body>
    <p>alaa</p>
    {{#each cadastros}}
        <span>{{nome}}</span>
        <p>{{senha}}</p>
    {{/each}}
    <input type="button" onclick="window.location.href = 'http://localhost:3020'" value="voltar">
</body>