<head>
    <link rel="stylesheet" href="/CSS/Style.css">
    <script src="/JS/action.js"></script>
</head>
<body>
    <form action="/rei" method="post">
        <fieldset>
            <p id="log">Login</p>
            <div>
                <input type="text" id="user" name="usuario" placeholder="Usuario">
                <input type="password" name="senha" id="pass" placeholder="Senha">
                <input type="submit"   value="Login">
                <input type="button" onclick="window.location.href = 'http://localhost:3020/cadastro'" value="Cadastrar">
            </div>
            <p id="erro"></p>
        </fieldset>
    </form>
</body>